
.App {
    text-align: center;
  }
  
  .box-container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 10px;
    margin-top: 20px;
    justify-content: center;
  }
  
  /* src/Box.css */
  .box {
    width: 200px;
    height: 200px;
    cursor: pointer;
    transition: background-color 0.3s;
  }